//Colors

$primary-color: #777;
$secondary-color: #58e1c1;
$link-theme: #51ddfc;
$theme-info: #927bc1;
$theme-warning: #fd7856;
$theme-error: #e4757a;
$theme-success: #63cc82;
$link-btn: #fff;

//Font-Sizes

$xs: 5px;
$sm: 10px;
$med: 20px;

//font-weight
$light: 300;

//width
$full: 100%;
$tiny: 1px;

//Media-Queries
$mq-med: 768px;
