
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: $flex-size;
  color: #fff;
  border: none;
  padding: $sm 0;
  text-transform: uppercase;
  border-radius: $xs;
}

.default {
  background-color: $third-color;
}

.error {
  background-color: $theme-error;
}

.info {
  background-color: $theme-info;
}

.success {
  background-color: $theme-success;
}

.warning {
  background-color: $theme-warning;
}
