/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include display-margin;
  margin-top: $sm;
  max-width: $full;
  max-height: $full;
}

.img-frame {
  @include display-margin;
  margin-top: $sm;
  max-width: $full;
  padding: 13px;
  border: $tiny solid #ccc;
}

.img-logo {
  @include display-margin;
}
